Autoreset/*
cfg/*
Configs/*
Custom/*
extra-args.txt
steam-location.txt
srconfigs.txt
sar.*
.crash_reports/*
.demos/*
.dirs/*
.tas/*
tas/*
*.log
svars_persist*
autosubmit_key.txt
autosubmit.key
*/.sar-appid.txt
*/.sar-config.mk
*/.sar-copy.bat
*/.smsm-config.mk
