p2c/Autoreset/*
p2c/cfg/*
p2c/tas/*
Configs/*
Custom/*
extra-args.txt
steam-location.txt
srconfigs.txt
sar.*
.crash_reports/*
.demos/*
.dirs/*
*.log
svars_persist*
autosubmit_key.txt
autosubmit.key
*/.sar-appid.txt
*/.sar-config.mk
*/.sar-copy.bat
*/.smsm-config.mk
*cvars*
bruteforcing.bat
sar-bf.dll
sar-bf.pdb
crosshair/*
ihud/*
